bin
obj

/packages/*
!/packages/.gitkeep

/runtime/*
!/runtime/.gitkeep
!/runtime/latest

/tools/*
!/tools/.gitkeep
!/tools/Nuget.template.config
!/tools/Dockerfile

/nightly/*
!/nightly/.gitkeep

try-net7-dotnet-webassembly.code-workspace

node_modules
